<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar_Hora</title>
</head>
<body>
    <h3 class="text-center">
        {{title}}
      </h3>
      <div id="agregar wrapper">
      <div id="caja" class="container w-75">
      
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="reset" value="Cancelar">
        <input type="submit" value="Guardar">
      </div>       
      </form>
      </div>     
      {{ mensaje }}
      <a href="{% url 'Listar' %}"><button type="button">Boton</button></a>
</body>
</html>

