{% extends '../Base.html' %}
{% load static %}

{% block content %}
<div class="row" id="home" style="margin-top:100px;">

  <div class="col-12 col-md-10 offset-md-1">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'Lavado_Vehiculos/img/carru1.jpg' %}" class="d-block w-100" style="height:800px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'Lavado_Vehiculos/img/carru2.png' %}" class="d-block w-100" style="height:800px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'Lavado_Vehiculos/img/carru3.jpg' %}" class="d-block w-100" style="height:800px" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>         
  <script>
    $(document).ready(function() {
      $('.carousel').carousel();
      setInterval(function() {
        $('.carousel').carousel('next');
      }, 3000); // Cambia la imagen automáticamente cada 3 segundos
    });
  </script>  
{% endblock %}
