<body>
    <div class="container">
        <h2 class="text-center align-middle">Modificar Registros</h2>
        <table class="table table-striped table-hover table-responsive-sm">   
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                {{ form }}
            </table>
                <input type="reset" value="Cancelar">
                <input type="submit" value="Editar">

            </form>
            {{ mensaje }} 
            <a href="{% url 'Listar' %}"><button type="button" class="m-2">Regresar</button></a>
            
    </div>
</body>